/*VARIABLES*/
$police-enchanted: 'GrandHotel-Regular', sans-serif;
$police-chic: 'Playball', sans-serif;
$police-delice: 'DancingScript-Regular', sans-serif;
$police-palette: 'IndieFlower-Regular', sans-serif;
$police-site: verdana, arial, sans-serif;

$color-site:#579c87;
$police-color-site:#fdcb46;
$background-color-enchanted:#fcdfdb;
$police-color-enchanted:#3c1218;
$background-color-chic:#fff5fe;
$police-color-chic-one:#c67412;
$police-color-chic-two:#a56799;
$police-color-chic-three:#6e4ccc;
$background-color-delice:#f9f9f9;
$background-color-palette:#fdfffd;
